
<div class="col-12 col-lg-4 col-md-4 col-sm-12">
    <div class="block">
        <a href="/teacher/{{ teacherLiteViewModel.id }}">
            {% if teacherLiteViewModel.posterSrc %}
                <img src="{{ teacherLiteViewModel.posterSrc }}" class="img-fluid" />
            {% else %}
                <img src="{% static '/images/default_box.jpg' %}" class="img-fluid" />
            {% endif %}
            <p class="name">
                {{ teacherLiteViewModel.name }}
            </p>
            <p class="style-name">
                
            </p>
        </a>
    </div>
</div>