{% extends "layout/main.html" %}


{% load static %}
{% load custom_filter %}


{% block content %}


<div class="row section1">


    <div class="col-2 d-none d-md-block"></div>
    <div class="col-12 col-lg-8 col-md-8 col-sm-12">

        <video muted autoplay loop class="img-fluid">
            <source src="{% static '/......' %}" typeof="video/mp4" />
        </video>

        <div class="invite">
            <h1>13 Dance Studio</h1>
            <p>Научись управлять своим телом</p>
            <a href="#signUpToLesson">
                <button class="btn btn-default">
                    Записаться на занятие
                </button>
            </a>
        </div>
    </div>

</div>


<div class="container section-index section-teachers" id="teachers">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header upper">Преподаватели</h2>
        </div>

        <div class="col-12 row teachers" id="div_teachers"></div>
            

            <div class="col-12 btn-full-width">
                <button class="btn btn-default empty" onclick="teacherSearch(6, 50, this)">Показать всех</button>
            </div>
            <script>
                var isteachersOthersLoading = false;
                async function teacherSearch(offset, limit, el = null){
                    if(isteachersOthersLoading)return;
                    isteachersOthersLoading = true;

                    try {
                        var data = new FormData();
                        data.append("offset", offset);
                        data.append("limit", limit);
                        data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
                        const response = await fetch('/api/teacher/search', {
                            method: 'POST',
                            body: data
                        });
                        const result = await response.json();
                        if(result["status"] == "success"){
                            _buildTeachers(result["teacherLiteViewModels"]);
                            if(el != null)el.classList.add("hide");
                        }
                        isteachersOthersLoading = false;
                    } catch(error) {
                        console.error('Ошибка:', error);
                        isteachersOthersLoading = false;
                    }
                }

                teacherSearch(0, 6);

function _buildTeachers(teacherLiteViewModels){
    if(teacherLiteViewModels == null)return;
    var div_teachers = document.getElementById("div_teachers");
    teacherLiteViewModels.forEach(teacherLiteViewModel => {
        div_teachers.appendChild(_buildTeacherPreview(teacherLiteViewModel));
    });
}

function _buildTeacherPreview(teacherLiteViewModel){
    var divOut = document.createElement("div");
    divOut.className = "col-12 col-lg-4 col-md-4 col-sm-12";

    var divBlock = document.createElement("div");
    divBlock.className = "block";
    var aTeacher = document.createElement("a");
    aTeacher.href = "/teacher/"+ teacherLiteViewModel["id"];

    var imgPoster = document.createElement("img");
    imgPoster.className = "img-fluid";
    imgPoster.src = (teacherLiteViewModel["posterSrc"] != null ? teacherLiteViewModel["posterSrc"] : "/static/images/default_box.jpg");

    var teacherName = document.createElement("p");
    teacherName.className = "name";
    teacherName.innerHTML = teacherLiteViewModel["name"];

    aTeacher.appendChild(imgPoster);
    aTeacher.appendChild(teacherName);
    divBlock.appendChild(aTeacher);
    divOut.appendChild(divBlock);
    return divOut;
}
            </script>

    </div>
</div>


<div class="container section-index section-styles" id="styles">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header upper">Направления</h2>
        </div>

        {% if styleLiteViewModels %}
            {% for styleLiteViewModel in styleLiteViewModels %}
                {% if styleLiteViewModel.is_lower == 0 %}
                    {% with next_element=styleLiteViewModels|next:forloop.counter0 %} 

                        <div class="col-12 col-lg-4 col-md-4 col-sm-12 col-relative">

                            <a href="/style/{{ styleLiteViewModel.id }}">
                            
                                <div class="block {% if styleLiteViewModel.is_bigger %} double {% else %} single {% endif %}">
                                    <p>{{ styleLiteViewModel.name }}</p>
                                </div>
                            </a>

                            {%if next_element.is_lower == 1 %}
                                {% if styleLiteViewModel.link_short %}
                                    <a href="/style/{{ styleLiteViewModel.link_short }}" class="bottom">
                                {% else %}
                                    <a href="/style/{{ styleLiteViewModel.id }}" class="bottom">
                                {% endif %}
                                    <div class="block single bottom">
                                        <p>{{ next_element.name }}</p>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="col-12"></div>


    </div>

</div>


<div class="container section-index section-abonements" id="prices">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header upper">Наши цены</h2>
        </div>

        {% for abonementLiteViewModel in abonementLiteViewModels %}
            <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                <div class="block">
                    <p class="name">
                        {{ abonementLiteViewModel.name }}
                    </p>
                    <p class="price">
                        {{ abonementLiteViewModel.price }}р
                    </p>
                </div>
            </div>

            {% if forloop.counter0 == 3 %}
                <div class="col-12 col-lg-4 col-md-4 col-sm-12">
                    <div class="block-info">
                        <p>
                            &#8226; срок действия<br />всех абонементов<br />30 дней
                        </p>
                    </div>
                </div>
            {% endif %}

        {% endfor %}


    </div>
</div>


<div class="row section-index section-enroll" id="signUpToLesson">
    <div class="col-2 d-none d-md-block"></div>
    <div class="col-12 col-lg-4 col-md-4 col-sm-12">
        <div class="block">
            <h6>Записаться на занятие</h6>
            <form action="#" id="formUserZayavka">
                <label for="name">Ваше имя</label>
                <input class="form-control" name="name" class="form-control" type="text"  />

                <label for="phone">Ваш номер телефона</label>
                <input class="form-control" name="phone" class="form-control" type="text"  />

                <button class="btn btn-default" type="button" onclick="sendUserZayavka(this)">
                    Отправить
                </button>
            </form>
            <p class="warning hide" id="userZayavkaWarning">Наши специалисты свяжутся с вами в течении нескольких минут</p>
        </div>
    </div>
</div>

<script>
    async function sendUserZayavka(){
        var form = document.getElementById("formUserZayavka");
        var pWarning = document.getElementById("userZayavkaWarning");
        try {
            var data = new FormData(form);
            if(data.get("name") == "" || data.get("phone") == ""){
                alert("Оба поля обязательны для заполнения");
                return;
            }

            data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
            const response = await fetch('/api/user/zayavka', {
                method: 'POST',
                body: data
            });
            const result = await response.json();
            if(result["status"] == "success"){
                form.classList.add("hide");
                if(pWarning.classList.contains("hide"))pWarning.classList.remove("hide");
                let hideSuccessTimeout = setTimeout(function(){
                    if(!pWarning.classList.contains("hide"))pWarning.classList.add("hide");
                    if(form.classList.contains("hide"))form.classList.remove("hide");
                }, 5000);
            } else {
                alert("Ошибка во время отправки заявки");
            }
        } catch(error) {
            alert("Ошибка во время отправки заявки");
        }
    }
</script>



{% endblock content %}