{% extends "layout/main.html" %}

{% load static %}

{% block content %}

<div class="container single-page rent-hall">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header">Аренда</h2>
        </div>

        {% if rentHallLiteViewModels %}
            {% for rentHallLiteViewModel in rentHallLiteViewModels %}
                {% include "template/rent_hall_preview.html" with rentHallLiteViewModel=rentHallLiteViewModel %}
            {% endfor %}
        {% endif %}

        

        <div class="col-12 for-all">
            <img src="{% static '/images/rent_hall.webp' %}" class="img-fluid" />
        </div>
    </div>
</div>

{% endblock content %}
