{% extends "layout/main.html" %}

{% load static %}

{% block content %}

<div class="container single-page schedule-page">
    <div class="row">
        <div class="col-12">
            <h2 class="section-header">Расписание занятий</h2>
        </div>



        <div class="col-12">

            <!--
            <div class="col-2 empty"></div>


            <div class="col-1">

            </div>
            <div class="col-2">Понедельник</div>
            <div class="col-1">Вторник</div>
            <div class="col-1">Среда</div>
            <div class="col-1">Четверг</div>
            <div class="col-1">Пятница</div>
            <div class="col-1">Суббота</div>
            <div class="col-2">Воскресенье</div>
            -->
            
            <table>
                <tr>
                    <td></td>
                    <td class="day-of-week">Понедельник</td>
                    <td class="day-of-week">Вторник</td>
                    <td class="day-of-week">Среда</td>
                    <td class="day-of-week">Четверг</td>
                    <td class="day-of-week">Пятница</td>
                    <td class="day-of-week">Суббота</td>
                    <td class="day-of-week">Воскресенье</td>
                </tr>
                <tr class="schedule_row">
                    <td class="time">
                        <p>13:00</p>
                    </td>
                    <td>
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="1" %}
                        
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="3" %}
                    </td>
                    <td>
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="special" %}
                    </td>
                    <td>
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="2" %}
                    </td>
                    <td>
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="special" %}
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="1" %}
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="2" %}
                    </td>
                    <td>
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="1" %}
                    </td>
                    <td>
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="1" %}
                    </td>
                    <td>
                        {% include "template/schedule_lesson.html" with group_name="Jazz Funk" teacher_name="Татьяна Ильина" level="1" %}
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</div>


{% endblock content %}
